<div ng-app="app">
  <div ng-controller="leagueCtrl" ng-init="setup()">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Overall Leaders:</h1>
          <h2> <%= @players.count.to_s %> Players</h2>

            <% count = 1 %>
            <table class="table-center">
              <tr>
                <th class="table-item">Place</th>
                <th class="table-item">Username</th>
                <th class="table-item">Score</th>
              </tr>
              <% @players.each do |player| %>
              <tr>
                <td class="table-item"><%= count %></td>
                <td class="table-item team"><%= link_to player.user.username, "/users_fixtures_selections/#{player.users_link}", class:"no-under" %></td>
                <td class="table-item"><%= player.score %></td>
              </tr>
              <% count += 1 %>
              <% break if count == 11 %>
              <% end %>
            </table>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Leagues</h1>
          Search for a league: <input ng-model="nameFilter">
          <% if session[:user_id] %>
            <%= link_to "Join a private league", "/users_leagues/new", class:"btn btn-success" %>
            <%= link_to "Create a league", "/leagues/new", class:"btn btn-success" %>
          <% else %>
            <br>
          <% end %>
        </div>
      </div>
      <br>

      <div class="row">
        <div ng-repeat="league in leagues | filter: {name: nameFilter}" class="col-md-4 col-sm-6 leaguers">

          <div ng-if="league.image">
            <img class="feature-image" ng-src="{{league.image}}">
          </div>
          <div ng-if="league.image === null">
            <img class="feature-image" src="https://img.clipartfest.com/5a8769ae34b2d679d80658456face068_foot20kicking20soccer20ball-foot-kicking-soccer-ball-clipart_864-551.jpeg">
          </div>

          <h4><a ng-href="/leagues/{{league.id}}">{{ league.name }}</a>:</h4>
          <p>{{ league.player_count }} Players</p>
          <table class="table-center">
            <tr>
              <th class="table-item">Place</th>
              <th class="table-item">Username</th>
              <th class="table-item">Score</th>
            </tr>
            <tr ng-repeat="player in league.players">
              <td class="table-item">{{ $index + 1 }}</td>
              <td class="table-item team"><a ng-href="/users_fixtures_selections/{{player.user_link}}" class="no-under">{{ player.user_name }}</a></td>
              <td class="table-item">{{ player.user_score }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>