<section class="section bg-light" id="features">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-md-offset-4">
        <div class="features-box">
          <h2>Overall Leaders:</h2>
          <h2> <%= @users.count.to_s %> Players</h2>
          <ol>
          <% count = 0 %>
          <% @users.each do |user| %>
            <h4><li><%= "#{user.name} Score: #{user.score}" %></li></h4>
            <% count += 1 %>
            <% break if count == 10 %>
          <% end %>
          </ol>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
          <h1>Leagues</h1>
      </div>
    </div>

    <div class="row">
    <% if session[:user_id] %>
      <% @leagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <img class="feature-image" src=<%= league.image %>>
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <p class="text-muted"><ol>
            <% count = 0 %>
            <% users.each do |user| %>
              <li><%= "#{user.name} Score: #{user.score}" %></li>
              <% count += 1 %>
              <% break if count == 5 %>
            <% end %>
            </ol></p>
          </div>
        </div>
      <% end %>

      <% @extraleagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <img class="feature-image" src=<%= league.image %>>      
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <p class="text-muted"><ol>
            <% count = 0 %>
            <% users.each do |user| %>
              <li><%= "#{user.name} Score: #{user.score}" %></li>
              <% count += 1 %>
              <% break if count == 5 %>
            <% end %>
            </ol></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <% @publicleagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <img class="feature-image" src=<%= league.image %>>
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <p class="text-muted"><ol>
            <% count = 0 %>
            <% users.each do |user| %>
              <li><%= "#{user.name} Score: #{user.score}" %></li>
              <% count += 1 %>
              <% break if count == 5 %>
            <% end %>
            </ol></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <%= link_to "Join a private league", "/users_leagues/new" %>
</section>