<section class="bg-custom home" id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="home-fullscreen" id="home-fullscreen">
          <div class="full-screen">
            <div class="home-wrapper home-wrapper-alt">
              <h1 class="font-light text-white">Overall Leaders:</h1>
              <h2 class="text-light"> <%= @users.count.to_s %> Players</h2>
              <div class="col-sm-4 col-md-offset-4">
                <% count = 1 %>
                <table class="text-light table-center">
                  <tr>
                    <th>Place</th>
                    <th>Username</th>
                    <th>Score</th>
                  </tr>
                  <% @users.each do |user| %>
                    <tr>
                    <td class="table-item"><%= count %></td>
                    <td class="table-item"><%= user.name %></td>
                    <td class="table-item"><%= user.score %></td></tr>
                    <% count += 1 %>
                    <% break if count == 11 %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section bg-light" id="features">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="font-light">Leagues</h1>
        <%= link_to "Join a private league", "/users_leagues/new", class:"btn btn-custom" %>
        <%= link_to "Create a league", "/leagues/new", class:"btn btn-custom" %>
      </div>
    </div>

    <div class="row">
    <% if session[:user_id] %>
      <% @leagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <% if league.image %>
              <img class="feature-image" src=<%= league.image %>>
            <% else %>
              <img class="feature-image" src="/assets/league_logo.jpg">
            <% end %>
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <% count = 1 %>
            <table class="text-muted table-center">
              <tr>
                <th>Place</th>
                <th>Username</th>
                <th>Score</th>
              </tr>
            <% users.each do |user| %>
              <tr>
              <td class="table-item"><%= count %></td>
              <td class="table-item"><%= user.name %></td>
              <td class="table-item"><%= user.score %></td></tr>
              <% count += 1 %>
              <% break if count == 6 %>
            <% end %>
            </table>
          </div>
        </div>
      <% end %>

      <% @extraleagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <% if league.image %>
              <img class="feature-image" src=<%= league.image %>>
            <% else %>
              <img class="feature-image" src="/assets/league_logo.jpg">
            <% end %>
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <% count = 1 %>
            <table class="text-muted table-center">
              <tr>
                <th>Place</th>
                <th>Username</th>
                <th>Score</th>
              </tr>
            <% users.each do |user| %>
              <tr>
              <td class="table-item"><%= count %></td>
              <td class="table-item"><%= user.name %></td>
              <td class="table-item"><%= user.score %></td></tr>
              <% count += 1 %>
              <% break if count == 6 %>
            <% end %>
            </table>
          </div>
        </div>
      <% end %>

    <% else %>

      <% @publicleagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <% if league.image %>
              <img class="feature-image" src=<%= league.image %>>
            <% else %>
              <img class="feature-image" src="/assets/league_logo.jpg">
            <% end %>
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <% count = 1 %>
            <table class="text-muted table-center">
              <tr>
                <th>Place</th>
                <th>Username</th>
                <th>Score</th>
              </tr>
            <% users.each do |user| %>
              <tr>
              <td class="table-item"><%= count %></td>
              <td class="table-item"><%= user.name %></td>
              <td class="table-item"><%= user.score %></td></tr>
              <% count += 1 %>
              <% break if count == 6 %>
            <% end %>
            </table>
          </div>
        </div>
      <% end %>
      
    <% end %>
    </div>
  </div>
</section>