<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Overall Leaders:</h1>
      <h2> <%= @players.count.to_s %> Players</h2>
      <div class="col-sm-4 col-md-offset-4">
        <% count = 1 %>
        <table class="table-center">
          <tr>
            <th class="table-item">Place</th>
            <th class="table-item">Username</th>
            <th class="table-item">Score</th>
          </tr>
          <% @players.each do |player| %>
            <tr>
            <td class="table-item"><%= count %></td>
            <td class="table-item team"><%= link_to player.user.name, "/users_fixtures_selections/#{player.users_link}", class:"no-under" %></td>
            <td class="table-item"><%= player.score %></td></tr>
            <% count += 1 %>
            <% break if count == 11 %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>My Leagues</h1>
      <%= link_to "Join a private league", "/users_leagues/new", class:"btn btn-success" %>
      <%= link_to "Create a league", "/leagues/new", class:"btn btn-success" %>
    </div>
  </div>
  <br>

  <div class="row">
    <% @leagues.each do |league| %>
      <div class="col-sm-4 leaguers">
        <% if league.image %>
          <img class="feature-image" src=<%= league.image %>>
        <% else %>
          <img class="feature-image" src="https://img.clipartfest.com/5a8769ae34b2d679d80658456face068_foot20kicking20soccer20ball-foot-kicking-soccer-ball-clipart_864-551.jpeg">
        <% end %>
        <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
        <p><%= league.users.count.to_s %> Players</p>
        <% players = league.sorted_users %>
        <% count = 1 %>
        <table class="table-center">
          <tr>
            <th class="table-item">Place</th>
            <th class="table-item">Username</th>
            <th class="table-item">Score</th>
          </tr>
        <% players.each do |player| %>
          <tr>
          <td class="table-item"><%= count %></td>
          <td class="table-item team"><%= link_to player.user.name, "/users_fixtures_selections/#{player.users_link}", class:"no-under" %></td>
          <td class="table-item"><%= player.score %></td></tr>
          <% count += 1 %>
          <% break if count == 6 %>
        <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>