<section class="section bg-light" id="features">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="font-light">My Leagues</h1>
      </div>
    </div>


    <div class="row">
      <% @leagues.each do |league| %>
        <div class="col-sm-4">
          <div class="features-box leaguers">
            <% if league.image %>
              <img class="feature-image" src=<%= league.image %>>
            <% else %>
              <img class="feature-image" src="/assets/league_logo.jpg">
            <% end %>
            <h4><%= link_to league.name, "/leagues/#{league.id}" %>:</h4>
            <p class="text-muted"><%= league.users.count.to_s %> Players</p>
            <% users = league.users.order(score: :desc) %>
            <% count = 1 %>
            <table class="text-muted table-center">
              <tr>
                <th>Place</th>
                <th>Username</th>
                <th>Score</th>
              </tr>
            <% users.each do |user| %>
              <tr>
              <td class="table-item"><%= count %></td>
              <td class="table-item"><%= user.name %></td>
              <td class="table-item"><%= user.score %></td></tr>
              <% count += 1 %>
              <% break if count == 6 %>
            <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>