  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <h1>Welcome to Top 5 Fantasy Soccer</h1>
      <br>
      <div class="jumbotron how-to">
        <h2>How to Play:</h2>
        <h4 class="instructions">To play login or signup and then click on My Selections in the Nav Bar. Once there you can make your predictions on how this weeks games will end. When finished you can create or join a league to compete against your friends.</h4>
        <br>
        <h2>How Scoring works:</h2>
        <ul>
        <h4><li>Get both scores correct for a game, 10 points</li></h4>
        <h4><li>Get one score correct and the correct outcome, 5 points</li></h4>
        <h4><li>Get only the outcome correct, 3 points</li></h4>
        <h4><li>Get one score correct but wrong outcome, 2 points</li></h4>
      </div>
      <div class="container">
        <h2>This Weeks Selections:</h2>
        <% count = 1 %>
        <% @fixtures_group.fixtures.each do |fixture| %>
          <h3>Game: <%= count %></h4>
          <% count += 1 %>
          <h3 class="indent"><%= "#{fixture.home_team} hosts #{fixture.away_team}" %></h4>
        <% end %>
      </div>
    </div>

    <div class="col-xs-11 col-sm-5 col-lg-4 col-lg-offset-1">
      <div class="jumbotron sidebar">
        <h3 class="standings">Top 5 Teams</h3>
        <h3 class="standings">of the</h3>
        <h3 class="standings">Top 5 Leagues</h3>
        <br>
        <h4 class="league-name">Premier League</h4>
        <table class="table-center">
          <tr>
            <th class="sidebar-head">Place</th>
            <th class="sidebar-head">Team</th>
            <th class="sidebar-head">Points</th>
          </tr>
          <% @pl5.each do |team| %>
            <tr>
              <td class="table-item team"><%= team.place %></td>
              <td class="table-item team"><%= team.team_name %></td>
              <td class="table-item team"><%= team.score %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <h4 class="league-name">La Liga</h4>
        <table class="table-center">
          <tr>
            <th class="sidebar-head">Place</th>
            <th class="sidebar-head">Team</th>
            <th class="sidebar-head">Points</th>
          </tr>
          <% @ll5.each do |team| %>
            <tr>
              <td class="table-item team"><%= team.place %></td>
              <td class="table-item team"><%= team.team_name %></td>
              <td class="table-item team"><%= team.score %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <h4 class="league-name">Bundesliga</h4>
        <table class="table-center">
          <tr>
            <th class="sidebar-head">Place</th>
            <th class="sidebar-head">Team</th>
            <th class="sidebar-head">Points</th>
          </tr>
          <% @bl5.each do |team| %>
            <tr>
              <td class="table-item team"><%= team.place %></td>
              <td class="table-item team"><%= team.team_name %></td>
              <td class="table-item team"><%= team.score %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <h4 class="league-name">Serie A</h4>
        <table class="table-center">
          <tr>
            <th class="sidebar-head">Place</th>
            <th class="sidebar-head">Team</th>
            <th class="sidebar-head">Points</th>
          </tr>
          <% @sa5.each do |team| %>
            <tr>
              <td class="table-item team"><%= team.place %></td>
              <td class="table-item team"><%= team.team_name %></td>
              <td class="table-item team"><%= team.score %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <h4 class="league-name">Ligue 1</h4>
        <table class="table-center">
          <tr>
            <th class="sidebar-head">Place</th>
            <th class="sidebar-head">Team</th>
            <th class="sidebar-head">Points</th>
          </tr>
          <% @lg5.each do |team| %>
            <tr>
              <td class="table-item team"><%= team.place %></td>
              <td class="table-item team"><%= team.team_name %></td>
              <td class="table-item team"><%= team.score %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
