Make A fixtures group

<%= form_tag "/fixtures_groups", method: :post do %>

  <div>
    <%= label_tag :fixture_id1 %>
    <%= text_field_tag :fixture_id1 %>
  </div>

  <div>
    <%= label_tag :fixture_id2 %>
    <%= text_field_tag :fixture_id2 %>
  </div>

  <div>
    <%= label_tag :fixture_id3 %>
    <%= text_field_tag :fixture_id3 %>
  </div>

  <div>
    <%= label_tag :fixture_id4 %>
    <%= text_field_tag :fixture_id4 %>
  </div>

  <div>
    <%= label_tag :fixture_id5 %>
    <%= text_field_tag :fixture_id5 %>
  </div>

  <div>
    <%= label_tag :fixture_id6 %>
    <%= text_field_tag :fixture_id6 %>
  </div>

  <div>
    <%= label_tag :fixture_id7 %>
    <%= text_field_tag :fixture_id7 %>
  </div>

  <div>
    <%= label_tag :fixture_id8 %>
    <%= text_field_tag :fixture_id8 %>
  </div>

  <div>
    <%= label_tag :fixture_id9 %>
    <%= text_field_tag :fixture_id9 %>
  </div>

  <div>
    <%= label_tag :fixture_id10 %>
    <%= text_field_tag :fixture_id10 %>
  </div>

  <div>
    <%= submit_tag "Save" %>
  </div>
<% end %>