<!DOCTYPE html>
<html>
    <head>

        <title>Top5FantasySoccer</title>

        <%= csrf_meta_tags %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    </head>


    <body>

        <nav class="navbar navbar-inverse nav-bar navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Top 5 Fantasy Soccer</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav navbar-right">
                <% unless current_user %>
                    <li><a class="nav-link" href="/leagues">Leagues</a></li>
                <% else %>
                    <li><a class="nav-link" href="/users_fixtures_selections/new">My Selections</a></li>
                    <% if week_results %>
                        <li><%= link_to "My Results", "/users_fixtures_selections/#{week_results}", class:"nav-link" %></li>
                    <% end %>
                    <li><a class="nav-link" href="/leagues">Join a League</a></li>
                    <li><%= link_to "My Leagues", "/users_leagues/#{current_user.id}", class:"nav-link" %></li>
                <% end %>
                <% unless current_user %>
                    <li><a class="nav-link" href="/signup">Signup</a></li>
                    <li><a class="nav-link" href="/login">Login</a></li>
                <% else %>
                    <li><%= link_to "Log out", "/logout", class:"nav-link", method: :delete %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <% flash.each do |name, message| %>
                <div class="alert alert-<%= name %> alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message.html_safe %>
                </div>
            <% end %>

        <%= yield %>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-content">
                        <h5><%= link_to "Top 5 Fantasy Soccer", "/", class:"no-under" %></h5>
                    </div>

                    <div class="col-md-6 footer-content">
                        <h5>football-data.org</h5>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
